body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#employee-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.employee-card {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 300px;
}

.employee-card h3 {
    margin-top: 0;
}

.employee-card p {
    margin-bottom: 10px;
}

.edit-btn, .delete-btn {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #3e8e41;
}

.delete-btn {
    background-color: #f44336;
}

.delete-btn:hover {
    background-color: #e91e63;
}

#add-edit-form-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#add-edit-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"], input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}